In [1]:
import pandas
import numpy as np

data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [2]:
index_col='PassengerId'

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#data[:10]

In [5]:
#data['Pclass']

In [6]:
male, female = data['Sex'].value_counts()
print(male, female)

577 314

In [103]:
passed, survived = data['Survived'].value_counts()
pct_survived = survived / (survived + passed)
pct_survived = round(pct_survived, 2) * 100
print(data['Survived'].value_counts())
print(pct_survived)

0    549
1    342
Name: Survived, dtype: int64
38.0

In [108]:
third, first, second = data['Pclass'].value_counts()
pct_first = first / (first + second + third)
print(round(pct_first, 4))

0.2424

In [9]:
age = data['Age']
mean = np.mean(age)
median = np.median(age[age > 0])
print(round(mean, 2), median)

29.7 28.0

In [90]:
import scipy.stats

both = data[data.columns[5:7]]
x = data[data.columns[5]]
y = data[data.columns[6]]

corr = scipy.stats.pearsonr(x, y)
corr_1, corr_2 = corr
corr_1 = round(corr_1, 2)
corr_2 = round(corr_2, 2)
print(corr_1, corr_2)
print(corr)

0.41 0.0
(0.4148376986201561, 2.2418236681398336e-38)

In [118]:
raw_clms = data[data.columns[2:4]]
female_clms = raw_clms[raw_clms['Sex'] == 'female']
female_names = female_clms['Name']
names = []

for row in female_names:
    enumerate(row)
    miss = row.find('Miss. ')
    mrs = row.find('Mrs. ')
    if miss != -1:
        name = ''
        letter_index = miss + 6
        # +6 from miss._
        #         123456
        temp_row = row[letter_index:]
        
        for letter in temp_row:
            if letter != ' ':
                name += letter
                
            else:
                names.append(name)
                break

    elif mrs != -1:
        brackets = row.find('(')
        brackets += 1
        name = ''
        temp_row = row[brackets:]
        
        for letter in temp_row:
            if letter != ' ':
                name += letter
            else:
                names.append(name)
                break

#print(names)
from collections import Counter
print(Counter(names))

Wendla
Counter({'Anna': 11, 'Margaret': 9, 'Elizabeth': 9, 'Mary': 7, 'Maria': 5, 'Helen': 5, 'Marie': 4, 'Ada': 4, 'Alice': 4, 'Florence': 3, 'Elisabeth': 3, 'Ellen': 3, 'Augusta': 3, 'Lillian': 3, 'Edith': 3, 'Katherine': 3, 'Hanora': 3, 'Emily': 3, 'Annie': 3, 'Catherine': 3, 'Jane': 3, 'Lily': 2, 'Adele': 2, 'Johanna': 2, 'Dorothy': 2, 'Constance': 2, 'Helene': 2, 'Clara': 2, 'Amelia': 2, 'Marion': 2, 'Jessie': 2, 'Lucile': 2, 'Madeleine': 2, 'Ida': 2, 'Charlotte': 2, 'Martha': 2, 'Amy': 2, 'Marguerite': 1, 'Hulda': 1, 'Emelia': 1, 'Masselmani,': 1, 'Torborg': 1, 'Selma': 1, 'Simonne': 1, 'Josefine': 1, 'Myna': 1, 'Erna': 1, 'Brigdet': 1, 'Mabel': 1, 'Ellis': 1, 'Grace': 1, 'Mathilde': 1, 'Elin': 1, 'Robina': 1, 'Eleanor': 1, 'Ann': 1, 'Luise': 1, 'Carla': 1, 'Henriette': 1, 'Telma': 1, 'Clear': 1, 'Irene': 1, 'Marjorie': 1, 'Agda': 1, 'Elna': 1, 'Helena': 1, 'Hanne': 1, 'Thorne,': 1, 'Lutie': 1, 'Kornelia': 1, 'Rosa': 1, 'Nora': 1, 'Laura': 1, 'Helmina': 1, 'Miriam': 1, 'Margaretta': 1, 'Hilda': 1, 'Sylvia': 1, 'Jean': 1, 'Elsie': 1, 'Mantoura': 1, 'Stina': 1, 'Leila': 1, 'Aurora': 1, 'Agnes': 1, 'Mari': 1, 'Daisy': 1, 'Lulu': 1, 'Lyyli': 1, 'Kate': 1, 'Doolina': 1, 'Esther': 1, 'Hildur': 1, 'Bessie': 1, 'Bridget': 1, 'Kristina': 1, 'Phyllis': 1, 'Eva': 1, 'Hedwig': 1, 'Harriet': 1, 'Ingeborg': 1, 'Sigrid': 1, 'Ethel': 1, 'Tillie': 1, '(Marion': 1, 'Alma': 1, 'Julie': 1, 'Marian': 1, 'Juliette': 1, 'Alfrida': 1, 'Cordelia': 1, 'Gretchen': 1, 'Margit': 1, 'Juliet': 1, 'Georgette': 1, 'Kelly,': 1, 'Caroline': 1, 'Edwina': 1, 'Pieta': 1, 'Susan': 1, 'Eliza': 1, 'Virginia': 1, 'Vera': 1, 'Stella': 1, 'Osman,': 1, 'Rosalie': 1, 'Bertha': 1, 'Ebba': 1, 'Wendla': 1, 'Selini': 1, 'Sara': 1, 'Edwiga': 1, 'Lilian': 1, 'Leah': 1, 'Latifa': 1, 'Sallie': 1, 'Hannah': 1, 'Imanita': 1, 'Gerda': 1})